* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	width: 1600px;
	min-width: 980px;
	height: 100%;
	margin: auto;
}

.content1 {
	width: 100%;
	height: 990px;
	text-align: center;
	background-image: url(https://github.com/linzhi1895/FETlearninglog/blob/master/%E7%AC%AC%E4%B9%9D%E5%A4%A9%E5%92%8C%E7%AC%AC%E5%8D%81%E4%B8%80%E5%A4%A9/images/content1_01.png);
}

.content1 h1 {
	padding-top: 208px;
	color: white;
	font-size: 56px;
	line-height: 56px;
}

.content1 > p {
	margin: auto;
	width: 800px;
	padding: 60px 0;
	color: white;
	font-size: 20px;
	line-height: 2;
}

.regdiv {
	margin: auto;
	width: 978px;
	height: 240px;
	border: solid 1px white;
}

.regdiv h3 {
	padding: 60px 0 0 0;
	color: white;
	letter-spacing: 2px;
}

.regdiv p {
	color: gray;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 2px;
}

.regdiv form {
	padding: 36px 0 0 0;
}

.content1 form input {
	margin-right: 40px;
	
	height: 50px;
	width: 290px;
	border: solid 1px gray;
	padding-left: 17px;
	background: transparent;
	
	color: white;
	font-weight: 400;
}

.content1 form input[name='SIGN UP'] {
	margin-right: 0;
	
	box-sizing: border-box;
	height: 52px;
	width: 102px;
	border: solid 1px gray;
	padding: 0;
	background-color: white;
	
	color: black;
	font-weight: 900;
}

.content1 form input[name='SIGN UP']:hover {
	background: transparent;

	color: white;
}

.content1 form input[name='SIGN UP']:active {
	background-color: white;

	color: black;
}

.wrap-mask1 {
	margin-top: -746px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
}

.content2 {
	box-sizing: border-box;
	padding: 120px 310px;
	width: 1600px;
	height: 710px;
	text-align: center;
}

.content2 p {
	padding: 20px 0;

	font-size: 12px;
	line-height: 12px;
	font-weight: 900;
}

.content2 h1 {
	margin: auto;
	width: 450px;
	padding: 20px 0 80px 0;
	
	line-height: 32px;
	font-weight: 900;
}

.feature{
	display: flex;
	flex-wrap: wrap;
}

.feature div{
	box-sizing: border-box;
	width: 50%;
	height: 120px;
}

.feature div img{
	float: left;
}

.feature div h3 {
	padding-left: 80px;
	text-align: left;
	line-height: 24px;
}

.feature div p {
	padding: 10px 0 0 80px;
	width: 380px;
	text-align: left;

	font-size: 12px;
	line-height: 2;
}

.content3 {
	position: relative;
	width: 1600px;
	height: 800px;
	background-image: url(/images/content3_01.png);
}

.content3 h1{
	position: absolute;
	top: 200px;
	left: 310px;

	width: 300px;
	font-size: 30px;
	font-weight: 200;
	line-height: 1.2;

	color: white;
}

.content3 p {
	position: absolute;
	top: 360px;
	left: 310px;

	width: 300px;
	font-size: 12px;
	font-weight: 200;
	line-height: 2;

	color: white;
}

.content3 form {
	position: absolute;
	top: 500px;
	left: 310px;
}

.content3 form input {
	box-sizing: border-box;
	width: 240px;
	height: 60px;

	padding: 23px 28px;
	border: solid 1px gray;
	border-radius: 2%;

	font-size: 12px;
	line-height: 12px;
	font-weight: 900;
	letter-spacing: 2px;
}

.content3 form input:hover {
	background: transparent;

	color: white;
}

.content3 form input:active {
	background: white;

	color: black;
}

.content3 form input+input {
	margin-left: 25px;
}

.content3 form input+input:hover {
	background: transparent;

	color: white;
}

.content3 form input+input:active {
	background: white;

	color: black;
}

.ipad {
	position: absolute;
	top: 104px;
	right: 0;

	box-sizing: border-box;
	width: 645px;
	height: 602px;

	padding: 30px 0 30px 30px;
	border: solid 1px gray;
	border-right: none;
	border-top-left-radius: 5%;
	border-bottom-left-radius: 5%;
}

.ipad div {
	display: inline-block;
	margin: 0 17px 266px 0;

	width: 10px;
	height: 10px;
	border: solid 1px gray;
	border-radius: 100%;
}

.ipad img{
	display: inline-block;
}

.wrap-mask2 {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
}

.content4 {
	width: 1600px;
	height: 579px;
	border-bottom: solid 1px lightgray;
	text-align: center;
}

.content4 h1 {
	margin: 100px 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: 900;
}

.products {
	margin: auto;
	display: flex;
	justify-content: space-between;

	width: 980px;
}

.products div {
	width: 260px;

	text-align: center;
}

.products div p {
	margin-top: 20px;
	font-size: 14px;
	line-height: 2;
}

.content5 {
	width: 1600px;
	height: 999px;
	border-bottom: solid 1px lightgray;
}

.content5 div {
	margin: 150px auto;

	width: 980px;
	height: 350px;
}

.content5 div img {
	float: left;
}

.content5 div div {
	float: left;
	margin: 0;

	box-sizing: border-box;
	width: 80px;
}

.content5 div article {
	float: left;

	box-sizing: border-box;
	width: 330px;
	height: 350px;
}

.content5 div article h3 {
	box-sizing: border-box;
	height: 80px;
}

.content5 div article p {
	box-sizing: border-box;
	height: 260px;
}

.content6 {
	width: 1600px;
	height: 999px;
	border-bottom: solid 1px lightgray;
	text-align: center;
}

.content6 h1 {
	margin: 100px 0 20px 0;
	font-size: 30px;
	line-height: 30px;
	font-weight: 900;
}

.content6 p {
    margin: auto;
    width: 560px;
	line-height: 2;
	padding-bottom: 65px;
}

.team {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: auto;
	width: 980px;
}

.users {
    position: relative;

	width: 470px;
	height: 340px;
	margin-bottom: 40px;
}

.personmask {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.personmask h3 {
	margin: 80px 0 20px 0;

	color: white;
}

.personmask p {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	width: 100%;

	color: white;
}

.personmask section {
	margin: auto;
	vertical-align: middle;
}

.personmask section div {
	display: inline-block;
	border: solid 1px white;
	border-radius: 100%;
}

.personmask section div img {
	display: block;
}

.personmask section div[name="social1"] {
	padding: 15px 20px;
}

.personmask section div[name="social2"] {
	padding: 16.5px 15px;
	margin: 0 60px;
}

.personmask section div[name="social3"] {
	padding: 13.5px;
}

.users:hover .personmask {
	opacity: 1;
}

.content7 {
	margin: auto;
	width: 980px;
	height: 700px;
}

.contactleft,
.contactright {
	margin-top: 100px;
	box-sizing: border-box;
	width: 470px;
	float: left;
}

.contactleft {
	margin-right: 40px;
	text-align: center;
	border: solid 1px lightgray;
}

.contactleft h4 {
	margin: 30px auto;
}

.contactleft input[name='E-mail'] {
	box-sizing: border-box;
	width: 370px;
	height: 50px;
	border: solid 1px gray;
	padding-left: 16px;
	margin-bottom: 30px;
	border: solid 1px lightgray;
}

.contactleft input[name='Subject'] {
	box-sizing: border-box;
	width: 370px;
	height: 50px;
	border: solid 1px gray;
	padding-left: 16px;
	margin-bottom: 30px;
	border: solid 1px lightgray;
}

.contactleft textarea {
	box-sizing: border-box;
	width: 370px;
	height: 144px;
	border: solid 1px gray;
	padding: 16px;
	margin-bottom: 30px;
	border: solid 1px lightgray;
}

.contactleft input[name='Send'] {
	box-sizing: border-box;
	width: 370px;
	height: 50px;
	border: solid 1px gray;
	color: white;
	background: black;
	margin-bottom: 30px;
	border: solid 1px lightgray;
}

.contactright h2 {
	margin: 18px 0 36px 0;
	line-height: 2;
}

.contactright p {
	line-height: 2;
	margin-bottom: 36px;
}

.contactright div {
	width: 470px;
}

.contactright div img {
	display: inline-block;
	vertical-align: middle;
}

.contactright div p{
	display: inline-block;
	padding-left: 15px;
	margin-bottom: 20px;
	font-weight: 900;
}

.contactright div a {
	text-decoration: none;
	color: black;
}

.contactright div a:hover {
	color: gray;
}

footer {
	display: flex;

	box-sizing: border-box;
	width: 100%;
	height: 410px;
	padding: 110px 0 0 220px;

	background-color: #141414;
}

footer ul {
	list-style: none;
	width: 260px;
	font-size: 12px;
	line-height:3;
}

footer ul li {
	color: gray;
}

footer ul li:first-child {
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
}

footer ul li a {
	text-decoration: none;
	color: gray;
}

footer ul li a:hover {
	color: white;
}

footer ul li a:active {
	color: gray;
}

footer div {
	width: 260px;
	font-size: 12px;
	line-height: 3;
}

footer div p:first-child {
	color: white;
	font-weight: bold;
	letter-spacing: 2px;
}

footer div p+p {
	color: gray;
	padding-top: 6px;
	line-height: 2;
}

footer div img {
	margin: 30px 10px 0 0;
}
