*{
	line-height: 0.5em;
	font-family: Arial;
	font-weight: bold;
	color: gray;
}

.basicinfo, .contact{
	display: inline-flex;
	list-style: none;
	padding: 0;
}

.basicinfo li, .contact li{
	/*display: inline-flex;*/
	margin-right: 50px;
}

.basicinfo li h4, .contact li h4{
	margin-right: 10px;
	line-height: 0;
	display: inline;
}

.basicinfo li p, .contact li p{
	display: inline;
	line-height: 0;
}

.ability, .eduexp, .pjexp{
	list-style: none;
	padding: 0;
}

.ability li,
.eduexp li,
.pjexp li
{
	padding: 0.2em 0;
}z

.ability li h4,
.eduexp li h4,
.pjexp li h4
{
	line-height: 0;
}

.ability li p,
.eduexp li p,
.pjexp li p
{
	line-height: 0;
}
