body{
	width: 1200px;
	line-height: normal;
	font-family: Arial;
	font-weight: bold;
}

header{
	width: 100%;
	height: 80px;
	background: gray;
}

h1{
	color: white;
	padding: 20.8px 0 0 24px;
}

.biheader, .ctheader{
	background: lightgray;
    width: 200px;
    height: 200px;
    text-align: center;
    float: left;
	margin: 0;
	margin-bottom: 5px;
}

.biheader h2, .ctheader h2{
	line-height: 176px;
}

.basicinfo, .contact{
	display: inline-flex;
	list-style: none;
	padding: 0;
	width: 980px;
	height: 200px;
	float: right;
	padding-left: 20px;
	background: #ffffcc;
	margin: 0;
	margin-bottom: 5px;
}

.basicinfo li, .contact li{
	margin-right: 50px;
	padding-top: 10px;
}

.basicinfo li h4, .contact li h4{
	margin-right: 10px;
	line-height: 0;
	display: inline;
}

.basicinfo li p, .contact li p{
	display: inline;
	line-height: 0;
}

.abheader, .eduheader, .pjheader{
	background: lightgray;
    width: 200px;
    height: 200px;
    text-align: center;
    float: left;
    margin: 0;
	margin-bottom: 5px;
}

.abheader h2, .eduheader h2, .pjheader h2{
	line-height: 176px;
}

.ability, .eduexp, .pjexp{
	list-style: none;
	padding: 0;
	width: 980px;
	height: 200px;
	float: right;
	padding-left: 20px;
	background: #ffffcc;
	margin: 0;
	margin-bottom: 5px;
}

.ability li, .eduexp li, .pjexp li{
	padding-top: 10px;
}

.ability li h4, .eduexp li h4, .pjexp li h4{
	margin-right: 10px;
	line-height: 0;
	display: inline;
}

.ability li p, .eduexp li p, .pjexp li p{
	display: inline;
	line-height: 0;
}