*{
	margin: 0;
	padding: 0;
}

body{
	background: gray;
	height: 700px;
}

.leftbox{
	width: 200px;
	height: 100%;
	background: green;
	float: left;
}

.middlebox{
	width: 200px;
	height: 100%;
	background: red;
	float: left;
}